body {
    background-color: rgb(243, 237, 221);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: rgb(89, 141, 99);
    font-size: 18px;
    line-height: 1em;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #80cb8e;
    font-size: 50px;
    line-height: 0em;
}

h4 {
    color: #80cb8e;
    font-size: 24px;
    line-height: 0em;
}

.cocktail-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cocktail-text img {
    height: 250px;
    margin: 1em;
}

.input-box {
    border-radius: 16px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 0.3em;
    padding: 5px;
    width: 600px;
}

.input-box img {
    height: 10px;
    width: 10px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: rgb(243, 237, 221);
}

.filter-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #80c58e;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 0.8em;
}


.flavor-filter {
    padding: 2px;
}

.active {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    border: none;
    color: white
}

.filter-btn:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

.search-btn:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

.search-btn {
    font-size: 24px;
    border-radius: 20px;
    background-color: #ffd470;
    border: 0px;
    padding: 8px 15px;
    margin-top: 0.8em
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.drink {
    font-family: 'Kanit', sans-serif;
}

.ingreds {
    font-family: 'Montserrat', sans-serif;
}

.flavors {
    font-family: 'Montserrat', sans-serif;
}

.button {
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

.rate:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

.rate {
    border-radius: 16px;
}