<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="cocktail-text">
                <img src="{{ url_for('static', filename='images/cocktail.png') }}">
                <h1>Cocktail Lab</h1>
            </div>
            <p>Select Flavor Profile Preferences</p>
            <div id="flavor-filter">
                <button class="floral-btn filter-btn" data-flavor="floral" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Floral</button>
                <button class="bitter-btn filter-btn" data-flavor="bitter" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Bitter</button>
                <button class="sweet-btn filter-btn" data-flavor="sweet" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Sweet</button>
                <button class="citrus-btn filter-btn" data-flavor="citrus" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Citrus</button>
                <button class="fruity-btn filter-btn" data-flavor="fruity" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Fruity</button>
                <button class="herbaceous-btn filter-btn" data-flavor="herbaceous" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Herbaceous</button>
                <button class="salty-btn filter-btn" data-flavor="salty" onclick="toggleActive(event)"
                    onkeyup="filterText(event)">Salty</button>
            </div>
            <div class="input-box" onclick="sendFocus(1)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Ingredient likes" id="ingred-prefs" onkeyup="filterText(event)">
            </div>
            <div class="input-box" onclick="sendFocus(4)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Ingredient dislikes" id="ingred-antiprefs" onkeyup="filterText(event)">
            </div>
            <div class="input-box" onclick="sendFocus(2)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Must include these ingredients" id="ingred-include" onkeyup="filterText(event)">
            </div>
            <div class="input-box" onclick="sendFocus(3)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Must exclude these ingredients" id="ingred-exclude" onkeyup="filterText(event)">
            </div>

            <!-- <div class="input-box" onclick="sendFocus(5)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Flavor likes" id="flavor-prefs" onkeyup="filterText(event)">
            </div>
            <div class="input-box" onclick="sendFocus(6)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Flavor dislikes" id="flavor-antiprefs" onkeyup="filterText(event)">
            </div>
            <div class="input-box" onclick="sendFocus(7)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Must include these flavors" id="flavor-include" onkeyup="filterText(event)">
            </div>
            <div class="input-box" onclick="sendFocus(8)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Must exclude these flavors" id="flavor-exclude" onkeyup="filterText(event)">
            </div> -->
            <center>
                <p>Press ENTER to search</p>
            </center>
            <!-- <div class="input-box" onclick="sendFocus(3)">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Must not include these flavors" id="flavor-exclude" onkeyup="filterText()">
            </div> -->
            <div id="answer-box">
            </div>

        </div>
    </div>

    <script>
        var last_focus = 0
        function answerBoxTemplate(drink, ingreds, flavors) {
            return `<div class=''>
                <h3 class='drink'>${drink}</h3>
                <p class='ingreds'>Ingredients: ${ingreds}</p>
                <p class='flavors'>Flavors: ${flavors}</p>
            </div>`
        }

        function sendFocus(x) {
            // i feel like this is spaghetti. this feels very stupid to me. unfortunately idk
            // if theres a better way to do this 🤪
            //console.log(x)
            switch (x) {
                case 1: document.getElementById('ingred-prefs').focus(); break;
                case 2: document.getElementById('ingred-include').focus(); break;
                case 3: document.getElementById('ingred-exclude').focus(); break;
                case 4: document.getElementById('ingred-antiprefs').focus(); break;

                // case 5: document.getElementById('flavor-prefs').focus(); break;
                // case 6: document.getElementById('flavor-antiprefs').focus(); break;
                // case 7: document.getElementById('flavor-include').focus(); break;
                // case 8: document.getElementById('flavor-exclude').focus(); break;

                default: document.activeElement.blur()

            }
        }

        const filterBtns = document.querySelectorAll('.filter-btn');
        let activeFilters = []

        function toggleActive(event) {
            const flavor = event.target.getAttribute("data-flavor");
            if (event.target.classList.contains("active")) {
                //remove filter
                console.log("remove")
                activeFilters = activeFilters.filter((filter) => filter !== flavor);
                event.target.classList.remove("active");
            } else {
                // add filter
                // console.log("add")
                activeFilters.push(flavor);
                event.target.classList.add("active");
            }
            console.log(activeFilters)
            console.log(event.target.classList)
            //filterText(event);
        }

        function filterText(event) {
            // only search on ENTER because it's buggy without it

            if (event.keyCode == 13) {

                toggleActive(event)
                let flavors = activeFilters.join(",");

                document.getElementById("answer-box").innerHTML = ""
                console.log(document.getElementById("ingred-prefs").value + ', ' + flavors);


                fetch("/query?" + new URLSearchParams({
                    // TODO change from flavor to ingreds
                    ingred_prefs: document.getElementById("ingred-prefs").value + ', ' + flavors,
                    ingred_antiprefs: document.getElementById("ingred-antiprefs").value,
                    ingred_include: document.getElementById("ingred-include").value,
                    ingred_exclude: document.getElementById("ingred-exclude").value
                }).toString())
                    .then((response) => response.json())
                    .then((data) => data.forEach(row => {
                        //console.log(data)
                        //console.log(row)
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.name, row.ingredients, row.flavors)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }));
            }
        }

    </script>
</body>